.btn {
  display: inline-block;
  font-size: $ic-100;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  padding: $ic--100 $ic-400;
  block-size: auto;
  border: none;
  // border-radius: $radius;
  // background-size: 300% 100%;
  transition: $transition;

  &:hover,
  &:focus {
    // background-position: 100% 0;
    // transition: all 0.4s ease-in-out;
    color: $white;

    .arrow-right {
      transform: translate(5px);
    }
  }
}

.btn--primary {
  background-color: $primary-color;
}

.btn--white {
  background-color: $white;
  color: $primary-color;

  .arrow-right {
    stroke: $primary-color;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, .8);
    color: $primary-color;
  }
}

.btn-external {
  svg {
    inline-size: 15px;
    block-size: 15px;
    fill: $white;
    stroke: $white;
    margin-left: 15px;
  }
}

button {
  cursor: pointer;
}
