.call-us-banner {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 9;
    padding-block: .25rem;
    inline-size: 100%;

    @include breakpoint(lg) {
        display: none;
    }
}

.call-us-banner__phone {
    color: $white;

    &:hover, 
    &:focus {
        color: $black;
    }
}

.call-us-banner .icon-sm {
    margin-right: .25rem;
}
