.cards {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__icon {
    margin-bottom: $ic-300;
    display: grid;
  }

  &__svg {
    inline-size: $ic-500;
    block-size: $ic-500;
    fill: $primary-color;
    stroke: $primary-color;
  }

  &__col {
    padding-block: $ic-300;
    flex: 1 1 300px;
    margin: $ic-300 $ic-300 $ic-600 $ic-300;

    p {
      margin: 0 auto;
    }

    ul {
      margin-bottom: $ic-200;
    }
  }
}

.cards-stacked {
  .cards {
    &__col {
      margin: 0;
    }
  }
}
.family {
  .cards__svg {
    position: relative;
    top: -5px;
  }
}
