.footer__copyright {
  background-color: $primary-color;
  color: $white;
  padding: $ic-200;
  font-size: $ic-100;
}

.footer__copyright-wrapper {
  align-items: center;

  @include breakpoint(md) {
    justify-content: space-between;

    span {
      margin-right: $ic-200;
    }
  }
}

.footer__nav {
  display: flex;
  justify-content: center;

  ul {
    margin: 0;
  }
}

.footer__nav-list {
  position: relative;
  display: flex;
  padding: 0;
  margin-bottom: $ic-300;
}

.footer__nav-list-item {
  list-style-type: none;
}

.footer__nav-item {
  color: $white;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__nav-list-item + .footer__nav-list-item {
  margin-left: 0.5rem;
  margin-top: 0;
}

@include breakpoint(md)  {
  .footer__credits {
    margin-left: auto;
  }
}