.hero {
  display: grid;
  place-items: center;
  // block-size: 40vh;
  // max-height: 600px;
  overflow: hidden;
  position: relative;
}

.hero > * {
  grid-area: 1 / -1;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.hero__title {
  margin-inline: auto;
}

.hero__body {
  font-size: $ic-300;
  font-size: clamp($ic-200, 4vw, $ic-300);
  font-weight: 500;
}

.hero__carrier-logo {
  max-width: 150px;
}

.hero__service-request {
  display: none;

  @include breakpoint(md) {
    display: block;
    position: relative;
    z-index: 2;
    margin-top: $ic-400;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.hero__content {
  position: relative;
  z-index: 2;
  padding-block: 5%;
  padding-block: clamp($ic-600, 10%, $ic-1000);
}

.hero__overlay {
  block-size: 100%;
  inline-size: 100%;
  background-color: rgba($black, .8);
}

.hero--home {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  max-height: 1500px;
  overflow: visible;
  background-image: url("/uploads/woman-reading-magazine-on-couch-small.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
  padding: $ic-700 $ic-200;
  position: relative;
  z-index: 1;

  @include breakpoint(md) {
    background-image: url("/uploads/woman-reading-magazine-on-couch.jpg");
    block-size: 80vh;
    flex-direction: row;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    block-size: 100%;
    inline-size: 100%;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }

  .hero__content {
    padding: $ic-600 0;

    @include breakpoint(md) {
      padding: 0;
    }

    h1 {
      color: $white;
    }
  }
}

.hero--split {
  display: grid;
  grid-template-columns:
    minmax(1.25rem, 1fr)
    minmax(0, calc(96rem))
    minmax(1.25rem, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: -60px;

  @include breakpoint(md) {
    height: 70vh; 
    max-height: 500px;
    overflow: hidden;
    grid-template-columns:
      minmax(1.25rem, 1fr)
      minmax(0, calc(96rem / 2))
      minmax(0, calc(96rem / 2))
      minmax(1.25rem, 1fr);
    grid-template-rows: none;
  }
}

.hero--split__content {
  grid-column: 2 / 3;
  padding-block-start: calc(1.953125rem + 60px);
  padding-block-end: $ic-400;
  margin: auto 0;
  
  @include breakpoint(md) {
    margin-inline-end: $ic-400;
  }
}

.hero--split__image {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  grid-area: 2 / 1 / 3 / 4;
  min-height: 300px;

  @include breakpoint(md) {
      // min-height: 600px;
    grid-area: 1 / 3 / 2 / 5;
  }
}

.hero--split__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}