.media-text-block__image {
    position: relative;
    block-size: 100%;
    height: 100%;
    min-height: 350px;
    min-height: clamp(300px, 46vw, 400px);
}

.media-text-block__image img {
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
}

@include breakpoint(md) {

    .media-text-block--text-right .col:nth-of-type(1) {
        order: 2;
    }
    
    .media-text-block--text-right .col:nth-of-type(2) {
        order: 1;
    }

}