{{ define "main" }}
    {{ partial "hero" .  }}
<div class="cta-full-width bg-secondary text-color-white">
    <div class="wrapper-lg flex flex-column flex-row-m gap-md flex-start flex-center-m flex-justify-between">
        <p><span class="h4 fw-700">Need Emergency Service?</span> We're here to help. Call us now.</p>
        <a class="btn btn--white" href="tel:{{ .Site.Data.site_settings.phone }}">{{ .Site.Data.site_settings.phone }}</a>
    </div>
</div>
    {{ if .Params.intro }}
        {{ with .Params.intro }}
            {{ partial "intro" .  }}
        {{ end }}
    {{ end }}
    {{ if .Params.breakout }}
        {{ with .Params.breakout }}
            {{ partial "breakout" .  }}
        {{ end }}
    {{ end }}
    <div class="spacer"></div>
    {{ if .Params.benefits }}
        {{ with .Params.benefits }}
            <section class="media-text-block media-text-block--text-left block bg-gray" aria-labelledby="{{ .heading | urlize }}">
                <div class="wrapper-lg grid gap-lg">
                    <div class="grid-12 grid-5-md block flow">
                        <h2 class="no-margin" id="{{ .heading | urlize }}">{{ .heading }}</h2>
                        {{ if .body }}
                            {{ partial "format-body" . }}
                        {{ end }}
                    </div>
                    <div class="grid-12 grid-7-md">
                        <div class="media-text-block__image">
                            <picture>
                            <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=avif&amp;q=85&amp;width=350&amp;height=300 400w, https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=avif&amp;q=85&amp;width=600&amp;height=450 600w, https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=avif&amp;q=85&amp;width=800&amp;height=525 800w" type="image/avif">
                        
                            <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=webp&amp;q=85&amp;width=350&amp;height=300 400w, https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=webp&amp;q=85&amp;width=600&amp;height=450 600w, https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=webp&amp;q=85&amp;width=800&amp;height=525 800w" type="image/webp">
                        
                            <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=jpg&amp;q=85&amp;width=350&amp;height=300 400w, https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=jpg&amp;q=85&amp;width=600&amp;height=450 600w, https://keynecta.imgix.net/uploads/team-reviewing-building-plans-on-computer-screen.jpg?fm=jpg&amp;q=85&amp;width=800&amp;height=525 800w" type="image/jpg">
                        
                            <img alt="" data-cms-original-src="/uploads/team-reviewing-building-plans-on-computer-screen.jpg" height="450" src="/uploads/team-reviewing-building-plans-on-computer-screen.jpg?_cchid=36db0180d13063ce0ec5afee1db4601d" width="600">   
                            </picture>
                        </div>
                    </div>
                </div>
            </section>
        {{ end }}
    {{ end }}
    {{ if .Params.cooling_checklist }}
        {{ with .Params.cooling_checklist }}
            <section class="block bg-primary text-color-white" aria-labelledby="{{ .heading | urlize }}">
                <div class="wrapper-lg grid gap-lg">
                    <div class="grid-12 grid-5-md flow">
                        <h2 class="h3 no-margin" id="{{ .heading | urlize }}">{{ .heading }}</h2>
                        {{ if .body }}
                            {{ partial "format-body" . }}
                        {{ end }}
                    </div>
                    <div class="grid-12 grid-7-md list-two-columns">
                        {{ if .checklist }}
                            {{ .checklist | markdownify }}
                        {{ end }}
                    </div>
                </div>
            </section>
        {{ end }}
    {{ end }}
    {{ if .Params.heating_checklist }}
        {{ with .Params.heating_checklist }}
            <section class="block" aria-labelledby="{{ .heading | urlize }}">
                <div class="wrapper-lg grid gap-lg">
                    <div class="grid-12 grid-5-md flow">
                        <h2 class="h3 no-margin" id="{{ .heading | urlize }}">{{ .heading }}</h2>
                        {{ if .body }}
                            {{ partial "format-body" . }}
                        {{ end }}
                    </div>
                    <div class="grid-12 grid-7-md list-two-columns">
                        {{ if .checklist }}
                            {{ .checklist | markdownify }}
                        {{ end }}
                    </div>
                </div>
            </section>
        {{ end }}
    {{ end }}
    {{ partial "cta" . }}
{{ end }}