{{ define "main" }}
    {{ partial "hero" .  }}
    {{ partial "emergency-cta" .  }}
    {{ if .Params.intro }}
        {{ with .Params.intro }}
            {{ partial "intro" .  }}
        {{ end }}
    {{ end }}
    {{ if .Params.breakout }}
        {{ with .Params.breakout }}
            {{ partial "breakout" .  }}
        {{ end }}
    {{ end }}
    <div class="spacer"></div>
    {{ if .Params.benefits }}
        {{ with .Params.benefits }}
            <section class="media-text-block media-text-block--text-left block bg-gray" aria-labelledby="{{ .heading | urlize }}">
                <div class="wrapper-lg grid gap-lg">
                    <div class="grid-12 grid-5-md block flow">
                        <div>
                            <h2 class="no-margin" id="{{ .heading | urlize }}">{{ .heading }}</h2>
                            <div class="underline"></div>
                        </div>
                        {{ if .body }}
                            {{ partial "format-body" . }}
                        {{ end }}
                    </div>
                    <div class="grid-12 grid-7-md">
                        <div class="media-text-block__image">
                            <img src="{{ .image.image_url }}" alt="" height="450" width="600">   
                        </div>
                    </div>
                </div>
            </section>
        {{ end }}
    {{ end }}
    {{ if .Params.cooling_checklist }}
        {{ with .Params.cooling_checklist }}
            <section class="block bg-primary text-color-white" aria-labelledby="{{ .heading | urlize }}">
                <div class="wrapper-lg grid gap-lg">
                    <div class="grid-12 grid-5-md flow">
                        <h2 class="h3 no-margin" id="{{ .heading | urlize }}">{{ .heading }}</h2>
                        {{ if .body }}
                            {{ partial "format-body" . }}
                        {{ end }}
                    </div>
                    <div class="grid-12 grid-7-md list-two-columns">
                        {{ if .checklist }}
                            {{ .checklist | markdownify }}
                        {{ end }}
                    </div>
                </div>
            </section>
        {{ end }}
    {{ end }}
    {{ if .Params.heating_checklist }}
        {{ with .Params.heating_checklist }}
            <section class="block" aria-labelledby="{{ .heading | urlize }}">
                <div class="wrapper-lg grid gap-lg">
                    <div class="grid-12 grid-5-md flow">
                        <h2 class="h3 no-margin" id="{{ .heading | urlize }}">{{ .heading }}</h2>
                        {{ if .body }}
                            {{ partial "format-body" . }}
                        {{ end }}
                    </div>
                    <div class="grid-12 grid-7-md list-two-columns">
                        {{ if .checklist }}
                            {{ .checklist | markdownify }}
                        {{ end }}
                    </div>
                </div>
            </section>
        {{ end }}
    {{ end }}
    {{ partial "cta" . }}
{{ end }}