<div class="business-info">
    <div class="business-info__wrapper flex flex-column flex-row-m flex-justify-between gap-sm">
        <div class="business-info__col flex">
            <div class="icon-lg icon-fill-white">
                {{ partial "svg-icons/clock.svg" . }}
            </div>
            <div class="business-info__col-content">
                <p class="b text-primary">{{ .Site.Data.site_settings.hours | markdownify }}</p>
            </div>
        </div>
        <div class="business-info__col flex">
            <div class="icon-lg icon-fill-white">
                {{ partial "svg-icons/location.svg" . }}
            </div>
            <div class="business-info__col-content header-business-info__address">
                <p><a href="{{ .Site.Data.site_settings.google_maps_url }}" target="_blank" rel="noreferrer">{{ .Site.Data.site_settings.address.street }}<br>{{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}</a></p>
            </div>
        </div>
        <div class="business-info__col flex">
            <div class="icon-lg icon-fill-white">
                {{ partial "svg-icons/phone.svg" . }}
            </div>
            <div class="business-info__col-content">
                <p class="b text-primary">Call {{ .Site.Data.site_settings.business_name }}</p>
                <p><a href="tel:{{ .Site.Data.site_settings.phone }}">{{ .Site.Data.site_settings.phone }}</a></p>
            </div>
        </div>
        <div class="business-info__col flex">
            <div class="business-info__col-content">
                <p class="b text-primary">Connect With Us</p>
                {{ partial "social-media" . }}
            </div>
        </div>
    </div>
</div>