<div class="contact-form">
    <span class="h5 text-primary b">Request Non-Emergency Service</span>
    <div class="contact-form__wrapper">
        <form name="Request Service Footer" action="/thank-you/" method="POST" data-netlify="true">
            <div class="visually-hidden">
                <label for="subject">New form submission from Richter Heating & Air Conditioning, Inc. contact form</label>
                <input aria-label="subject" id="subject" name="subject"/>
            </div>
            <div class="contact-form__form-group">
                <label for="name-footer">Name*</label>
                <input name="name" id="name-footer" type="text" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
              <label for="phone-footer">Phone*</label>
              <input name="phone" id="phone-footer" type="tel" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="email-footer">Email*</label>
                <input name="_replyto" id="email-footer" type="email" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="message-footer">Message*</label>
                <textarea name="message" id="message-footer" class="contact-form__form-control" rows="4" required></textarea>
            </div>
            <div class="contact-form__form-row">
                <div class="contact-form__row-wrapper gap-sm">
                    <div class="contact-form__form-group">
                        <button type="submit" class="contact-form__btn btn btn--white">Send Request</button>
                    </div>
                    <div class="contact-form__form-group">
                        <p class="font-size-xs">Need emergency service? Call now <a class="contact-form__call-link" href="tel:{{ .Site.Data.site_settings.phone }}" aria-label="Call Richter Heating & Air Conditioning, Inc.">{{ .Site.Data.site_settings.phone }}</a></p>
                    </div>
                </div>
            </div>  
        </form>
    </div>
</div>
