{{ if eq .Title "Home" }}
<section class="hero hero--home w-100" aria-labelledby="hero-heading">
  <div class="hero__content w-100-m wrapper-lg flex flex-column flex-row-m flex-center">
    <div class="w-100 w-60-m flow text-color-white">
      <h1 class="no-margin" id="hero-heading">{{ .Params.hero.heading }}</h1>
      <p class="hero__body">{{ .Params.hero.body }}</p>
      <div class="hero__carrier-logo">
        <img src="/uploads/bryant-heating-and-cooling-logo-white.svg" alt="Bryant Logo" width="300" height="100">
      </div>
    </div>
    <div class="w-100 w-40-m">
    </div>
  </div>
  <div class="hero__service-request w-100 w-40-m">
    {{ partial "request-service" . }}
  </div>
</section>
{{ else }}
<div>
  {{ partial "breadcrumbs" . }}
</div>
<section class="hero--split bg-primary" aria-labelledby="{{ .Params.hero.heading | urlize }}">
  <div class="hero--split__content text-color-white flow">
    <h1 class="no-margin" id="{{ .Params.hero.heading | urlize }}">{{ if .Params.hero.heading }}{{ .Params.hero.heading }}{{ else }}{{ .Title }}{{ end }}</h1>
    {{ if in .Params.hero.body "\n" }}
        {{ .Params.hero.body | markdownify }}
    {{ else }}
        <p>{{ .Params.hero.body | markdownify }}</p>
    {{ end }}
    {{ if .Params.hero.button.enabled }}
      {{ with .Params.hero.button }}
          <a class="btn btn--white" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .button_text }}</a>
      {{ end }}
    {{ end }}
  </div>
  <div class="hero--split__image">
    {{ with .Params.hero.image }}
      {{ partial "responsive-image-hero" . }}
    {{ end }}
  </div>
</section>
{{ end }}