<div class="contact-form-wrapper">
    <div class="emergency-cta">
        <p class="no-margin">24hr Emergency Service</p>
        <div class="emergency-phone flex">
            <div class="icon-fill-white icon-xxl">
                {{ partial "svg-icons/phone.svg" . }}
            </div>
            <a href="tel:{{ .Site.Data.site_settings.phone }}"><h2 class="h3">{{ .Site.Data.site_settings.phone }}</h2></a>
        </div>
    </div>
    <div class="contact-form">
        <span class="h5 text-primary b">Request Non-Emergency Service</span>
        <div class="contact-form__wrapper">
            <form name="Request Service" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="https://www.richterhvac.com/thank-you/">
                <div hidden>
                    <label>
                      Don’t fill this out if you're human: 
                      <input name="bot-field" />
                    </label>
                </div>
                <div class="visually-hidden">
                    <label for="_subject">New form submission from Richter Heating & Air Conditioning, Inc. contact form</label>
                    <input aria-label="subject" id="_subject" name="_subject"/>
                </div>
                <div class="contact-form__form-group">
                    <label for="name">Name*</label>
                    <input name="name" id="name" type="text" class="contact-form__form-control" required>
                </div>
                <div class="contact-form__form-group">
                  <label for="phone">Phone*</label>
                  <input name="phone" id="phone" type="tel" class="contact-form__form-control" required>
                </div>
                <div class="contact-form__form-group">
                    <label for="email">Email*</label>
                    <input name="_replyto" id="email" type="email" class="contact-form__form-control" required>
                </div>
                <div class="contact-form__form-group">
                    <label for="message">Message*</label>
                    <textarea name="message" id="message" class="contact-form__form-control" rows="4" required></textarea>
                </div>
                <div class="contact-form__form-row">
                    <div class="contact-form__row-wrapper gap-sm">
                        <div class="contact-form__form-group">
                            <button type="submit" class="contact-form__btn btn btn--white">Send Request</button>
                        </div>
                        <div class="contact-form__form-group">
                            <p class="font-size-xs">Need emergency service? Call now <a class="contact-form__call-link" href="tel:{{ .Site.Data.site_settings.phone }}" aria-label="Call Richter Heating & Air Conditioning, Inc.">{{ .Site.Data.site_settings.phone }}</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>