<section class="testimonials block bg-gray">
    <div class="wrapper-lg">
        <h2 class="no-margin">What Our Customers Are Saying</h2>
        <div class="underline"></div>
        <p>Read more from real customers who chose {{ site.Params.author }} for their heating, ventilation and air conditioning needs. From fast response times to complex installations, our customers highlight the expertise, professionalism and friendliness that define our service.</p>
    </div>
    <div class="testimonial wrapper-lg padding-top-4">
        <div class="auto-flexbox-grid gap-sm">
            {{ range .Params.testimonials }}
            <blockquote class="testimonial__col flow">
                <div class="testimonial__icon">{{ partial "svg-icons/quote.svg" . }}</div>
                <p class="font-size-xs">{{ .testimonial }}</p>
                <div>
                    <h3 class="h5 no-margin">{{ .author }}</h3>
                    <p class="font-size-xs">{{ .company }}</p>
                </div>
            </blockquote>
            {{ end }}
        </div>
    </div>
</section>