{{ define "main" }}
<div class="block bg-black">
    <div class="wrapper hero__content text-align-center">
        <h1>{{ .Title }}</h1>
    </div>
</div>
<section class="fade-wrapper padding-top-4 padding-bottom-4">
    <div class="wrapper">
        <article>
            <p>The page you've requested does not exist, or is unavailable at this time. Our website has recently been redesigned so if you tried to load a bookmarked page, or followed a link from another web site, it's possible that the page you've requested has been moved. Use the navigation menu to locate the information you are looking for or <a href="{{ "/" | relURL }}">go back to the homepage.</a></p>
        </article>
    </div>
</section>
{{ end }}