{{ define "main" }}
{{ partial "hero" . }}
<section class="intro">
  <div class="intro-overlay block">
    <div class="wrapper-lg">
      <div class="flex-m flex-row-m">
        <div class="w-100 w-50-m flow">
          <div>
            <h2 class="no-margin">{{ .Params.intro.heading }}</h2>
            <div class="underline"></div>
          </div>
          <p>{{ .Params.intro.body }}</p>
          <div class="flex-m flex-row-m gap-sm">
            {{ if .Params.intro.button.enabled }}
              {{ with .Params.intro.button }}
                  <a class="btn btn--primary" href="{{ .button_url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .button_text }}</a>
              {{ end }}
            {{ end }}
            <a class="flex flex-center mt-2 mt-0-md" href="tel:{{ .Site.Data.site_settings.phone }}" aria-label="Call {{ .Site.Data.site_settings.business_name }}"><span class="icon-md icon-fill-primary">{{ partial "svg-icons/phone.svg" . }}</span>{{ .Site.Data.site_settings.phone }}</a>
          </div>
        </div>
        <div class="w-100 w-50-m">
        </div>
      </div>
    </div>
  </div>
</section>
{{ if .Params.cards.cards_row }}
{{ partial "cards" . }}
{{ end }}
{{ if .Params.cards.cards_stacked }}
{{ partial "cards-stacked" . }}
{{ end }}
{{ partial "full-width-feature" .  }}
{{ partial "testimonials" . }}
{{ partial "cta" . }}
{{ end }}
