.skip-link {
  position: absolute;
  block-size: auto;
  inline-size: auto;
  display: block;
  top: -100px;
  background: $primary-color;
  color: $white;
  padding: 20px;
  z-index: 1000000000;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);

  a {
    color: $white;
  }

  &:focus {
    left: 6px;
    top: 7px;
  }
}
