@media (prefers-color-scheme: dark) {
    body {
       background-color: $black-2;
       color: $light-gray;
    }

    .bg-gray, 
    .contact-form {
        background-color: $black-2;
    }

    .bg-white,
    .testimonial__col,
    .single-product .bg-gray {
        background-color: $black;
        color: $light-gray;
    }

    .header__mobile-nav-link,
    .header__mobile-dropdown-link,
    .header__nav-list-link,
    .header__sub-menu-link,
    .footer a {
        color: $light-gray;
    }

    .header__logo {
        background-image: url("/uploads/quality-heating-logo-white.svg");
    }

    .header__phone-link {
        color: $light-gray;
    }

    .intro-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.7) 50%,
          rgba(0, 0, 0, 0.1) 100%
        );
    }

    .border-top-white,
    .border-top-gray {
        border-block-start: 1px solid rgba($white,.15);
    }

    .contact-form__form-group input,
    .contact-form__form-group textarea,
    .contact-form__form-group select {
        border: 2px solid $primary-color;
        background-color: $black;
    }

    .parent-page-products:not(.page-id-a5de17d55a9b80cdac731fa24e6c61ab) .breadcrumbs svg {
        fill: $light-gray;
      }
      
    .parent-page-products:not(.page-id-a5de17d55a9b80cdac731fa24e6c61ab) .breadcrumbs__list-item,
    .parent-page-products:not(.page-id-a5de17d55a9b80cdac731fa24e6c61ab) .breadcrumbs__list-item a {
        color: $light-gray;
    }
}