.flex {
  display: flex;
}

.flex-container {
  display: flex;
  flex-direction: column;

  @include breakpoint(lg) {
    flex-direction: row;
  }
}

.flex-container-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;

  @include breakpoint(lg) {
    flex-direction: row;
  }
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  @include breakpoint(md) {
    flex-direction: row;
  }
}

.wrapped-flex-container-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapped-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @include breakpoint(lg) {
    justify-content: flex-start;
  }
}

.center-align-container {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.flex-center {
  align-items: center;
}

.flex-baseline {
  align-items: baseline;
}

.flex-stretch {
  align-items: stretch;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

@include breakpoint(sm) {
  .flex-column-s {
    flex-direction: column;
  }

  .flex-row-s {
    flex-direction: row;
  }

  .flex-wrap-s {
    flex-wrap: wrap;
  }

  .flex-nowrap-s {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-s {
    flex-wrap: wrap-reverse;
  }

  .flex-column-reverse-s {
    flex-direction: column-reverse;
  }

  .flex-row-reverse-s {
    flex-direction: row-reverse;
  }

  .flex-start-s {
    align-items: flex-start;
  }

  .flex-end-s {
    align-items: flex-end;
  }

  .flex-center-s {
    align-items: center;
  }

  .flex-baseline-s {
    align-items: baseline;
  }

  .flex-stretch-s {
    align-items: stretch;
  }

  .flex-justify-start-s {
    justify-content: flex-start;
  }

  .flex-justify-end-s {
    justify-content: flex-end;
  }

  .flex-justify-center-s {
    justify-content: center;
  }

  .flex-justify-between-s {
    justify-content: space-between;
  }

  .flex-justify-around-s {
    justify-content: space-around;
  }
}
@include breakpoint(md) {
  .flex-m {
    display: flex;
  }

  .inline-flex-m {
    display: inline-flex;
  }

  .flex-none-m {
    flex: none;
  }

  .flex-column-m {
    flex-direction: column;
  }

  .flex-row-m {
    flex-direction: row;
  }

  .flex-wrap-m {
    flex-wrap: wrap;
  }

  .flex-nowrap-m {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-m {
    flex-wrap: wrap-reverse;
  }

  .flex-column-reverse-m {
    flex-direction: column-reverse;
  }

  .flex-row-reverse-m {
    flex-direction: row-reverse;
  }

  .flex-start-m {
    align-items: flex-start;
  }

  .flex-end-m {
    align-items: flex-end;
  }

  .flex-center-m {
    align-items: center;
  }

  .flex-baseline-m {
    align-items: baseline;
  }

  .flex-stretch-m {
    align-items: stretch;
  }

  .flex-justify-start-m {
    justify-content: flex-start;
  }

  .flex-justify-end-m {
    justify-content: flex-end;
  }

  .flex-justify-center-m {
    justify-content: center;
  }

  .flex-justify-between-m {
    justify-content: space-between;
  }

  .flex-justify-around-m {
    justify-content: space-around;
  }
}
@include breakpoint(lg) {
  .flex-none-l {
    flex: none;
  }

  .flex-column-l {
    flex-direction: column;
  }

  .flex-row-l {
    flex-direction: row;
  }

  .flex-wrap-l {
    flex-wrap: wrap;
  }

  .flex-nowrap-l {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-l {
    flex-wrap: wrap-reverse;
  }

  .flex-column-reverse-l {
    flex-direction: column-reverse;
  }

  .flex-row-reverse-l {
    flex-direction: row-reverse;
  }

  .flex-start-l {
    align-items: flex-start;
  }

  .flex-end-l {
    align-items: flex-end;
  }

  .flex-center-l {
    align-items: center;
  }

  .flex-baseline-l {
    align-items: baseline;
  }

  .flex-stretch-l {
    align-items: stretch;
  }

  .flex-justify-start-l {
    justify-content: flex-start;
  }

  .flex-justify-end-l {
    justify-content: flex-end;
  }

  .flex-justify-center-l {
    justify-content: center;
  }

  .flex-justify-between-l {
    justify-content: space-between;
  }

  .flex-justify-around-l {
    justify-content: space-around;
  }
}
